{% extends 'base.html' %}

{% block title %}Рассылки{% endblock %}

{% block content %}
<h1>Рассылки</h1>
<a href="{% url 'mailing:mailing_create' %}" class="btn btn-primary mb-3">➕ Добавить</a>

{% if mailings %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Получатели</th>
            <th>Сообщение</th>
            <th>Владелец</th>
            <th>Начало</th>
            <th>Окончание</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
    {% for mailing in mailings %}
    <tr>
        <td>
            <ul class="mb-0">
                {% for recipient in mailing.recipients.all %}
                <li>{{ recipient.full_name }} ({{ recipient.email }})</li>
                {% endfor %}
            </ul>
        \n-

        <td>{{ mailing.message.subject }}</td>
        <td>{{ mailing.owner.email|default:"—" }}</td>
        <td>{{ mailing.start_time|date:"d.m.Y H:i" }}</td>
        <td>{{ mailing.end_time|date:"d.m.Y H:i" }}</td>

        {# СТАТУС #}
        <td>
            {% with status=mailing.get_dynamic_status %}
            <span class="badge bg-{% if status == 'created' %}secondary{% elif status == 'launched' %}success{% else %}danger{% endif %}">
                {{ mailing.get_status_display }}
            </span>
            {% endwith %}
        </td>

        {# ДЕЙСТВИЯ #}
        <td>
            <a href="{% url 'mailing:mailing_detail' mailing.pk %}">👁️</a>
            {# Кнопка редактирования и удаления — только если свой объект #}
            {% if mailing.owner == user %}
                <a href="{% url 'mailing:mailing_update' mailing.pk %}">✏️</a>
                <a href="{% url 'mailing:mailing_delete' mailing.pk %}">❌</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>Нет рассылок.</p>
{% endif %}
{% endblock %}